
<div class="container">

    <h1 class ="mt-3">Add Category</h1>
    <form  #form="ngForm" (ngSubmit)="onFormSubmit()" >
      <div class="mt-2">
        <label  class="form-label">Category Name</label>
        <input type="text" class="form-control" id="CategoryName" required  name="CategoryName" [(ngModel)]="model.name"> 
        
      </div>
      <div class="mt-2">
        <label  class="form-label">Category URL Handle</label>
        <input type="text" class="form-control" id="CategoryURLHandle" required  name="CategoryURLHandle" [(ngModel)]="model.urlHandle">

      </div>
      <div class="mt-2">
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
    </form>

</div>
