/* Add your CSS styles here for category-list.component */
/* .mt-3 {
  margin-top: 1rem;
}
.d-flex {
  display: flex;
}
.justify-content-end {
  justify-content: flex-end;
}
.mb-3 {
  margin-bottom: 1rem;
} */